/*
 Nuxt Page transition
 */
.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100% !important;
}
